#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* ---------------------------- */
.title-img {
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ),
    url("./img/headphone.jpg");
  background-position: bottom;
}

/* ------------------------------ */
footer {
  margin-top: auto;
}
